<!DOCTYPE html>
<html>

<head>

    <%- include('../partials/style.ejs') %>
  
</head>

<body>
    <div id="wrapper">
        <%- include('../partials/menu.ejs') %>
      
        <!-- side bar end -->
        <div id="page-wrapper" class="gray-bg">
            <!-- top nav start -->
            <%- include('../partials/header.ejs') %>
     
            <!-- top nav end -->
            <div class="wrapper wrapper-content">
                <div class="ibox">
                    <div class="ibox-title">
						<h5>Blockchain Analytics</h5>
						<!-- <div class="ibox-tools btn-right">                                
                            <a href="#!" target="_blank" class="btn btn-primary">
                                Redirect to Hyperledger Explorer</a>
                        </div> -->
                    </div>
                    <div class="ibox-content blockchain-content">  
                        <!-- <div class="row align-items-center justify-content-center">
                            <div class="col-xl-2 col-sm-4 ">
                                <div class="widget white-bg  text-center ">
                                    <div class="">
                                        <i class="fa fa-cube fa-3x"></i>
                                        <h1 class="m-xs font-bold">22</h1>
                                        <h5 class=" no-margins">
                                            Blocks
                                        </h5>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-4 ">
                                <div class="widget white-bg  text-center ">
                                    <div class="">
                                        <i class="fa fa-exchange fa-3x"></i>
                                        <h1 class="m-xs font-bold">22</h1>
                                        <h5 class=" no-margins">
                                            Transactions
                                        </h5>                                
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-4 ">
                                <div class="widget white-bg  text-center ">
                                    <div class="">
                                        <i class="fa fa fa-cubes fa-3x"></i>
                                        <h1 class="m-xs font-bold">22</h1>
                                        <h5 class=" no-margins">
                                            Nodes
                                        </h5>                               
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-4 ">
                                <div class="widget white-bg  text-center ">
                                    <div class="">
                                        <i class="fa fa-handshake-o fa-3x"></i>
                                        <h1 class="m-xs font-bold">22</h1>
                                        <h5 class=" no-margins">
                                            Chaincodes
                                        </h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-4 ">
                                <div class="widget white-bg  text-center ">
                                    <div class="">
                                        <i class="fa fa-clock-o fa-3x"></i>
                                        <h1 class="m-xs font-bold">500ms</h1>
                                        <h5 class=" no-margins">
                                            Latency
                                        </h5>                               
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- card-row end -->
                        <!-- <div class="row block-fix-height">
                            <div class="col-lg-8">
                                <div class="widget white-bg  text-left">
                                    <div class="inspinia-timeline">
                                        <div class="timeline-item ">
                                            <div class="row">
                                                <div class="col-3 date">
                                                    <i class="fa fa-cube"></i>
                                                    6:00 am
                                                    <br/>
                                                    <small class="text-navy">2 hour ago</small>
                                                </div>
                                                <div class="col-9 content no-top-border">
                                                    <p class="m-b-xs"><strong>BLOCK - 21</strong></p>    
                                                    <table>
                                                        <tr>
                                                            <td><strong>Channel name:</strong>&nbsp;</td><td>My channel</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Datahash:</strong>&nbsp;</td><td>nsajf89394094fherjkfje093204jkdf94093</td>
                                                        </tr>
                                                        <tr>
                                                            
                                                            <td><strong>Number of Tx:</strong>&nbsp;</td><td>15</td>
                                                        </tr>
                                                        <tr>
                                                                <td> <a href="#" data-toggle="modal"
                                                                    data-target="#transactionDetails"> view Details </a> </td>
                                                      
                                                        </tr>
                                                    </table>                      
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="timeline-item ">
                                            <div class="row">
                                                <div class="col-3 date">
                                                    <i class="fa fa-cube"></i>
                                                    6:00 am
                                                    <br/>
                                                    <small class="text-navy">2 hour ago</small>
                                                </div>
                                                <div class="col-9 content">
                                                    <p class="m-b-xs"><strong>BLOCK - 21</strong></p>    
                                                    <table>
                                                        <tr>
                                                            <td><strong>Channel name:</strong>&nbsp;</td><td>My channel</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Datahash:</strong>&nbsp;</td><td class="text-wrap">nsajf89394094fherjkfje093204jkdf94093</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Number of Tx:</strong>&nbsp;</td><td>15</td>
                                                        </tr>
                                                        <tr>
                                                                <td> <a href="#" data-toggle="modal"
                                                                    data-target="#transactionDetails"> view Details </a> </td>
                                                      
                                                        </tr>
                                                    </table>                      
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="timeline-item ">
                                            <div class="row">
                                                <div class="col-3 date">
                                                    <i class="fa fa-cube"></i>
                                                    6:00 am
                                                    <br/>
                                                    <small class="text-navy">2 hour ago</small>
                                                </div>
                                                <div class="col-9 content">
                                                    <p class="m-b-xs"><strong>BLOCK - 21</strong></p>    
                                                    <table>
                                                        <tr>
                                                            <td><strong>Channel name:</strong>&nbsp;</td><td>My channel</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Datahash:</strong>&nbsp;</td><td class="text-wrap">nsajf89394094fherjkfje093204jkdf94093</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Number of Tx:</strong>&nbsp;</td><td>15</td>
                                                        </tr>
                                                        <tr>
                                                                <td> <a href="#" data-toggle="modal"
                                                                    data-target="#transactionDetails"> view Details </a> </td>
                                                      
                                                        </tr>
                                                    </table>                      
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="widget white-bg  text-center ">
                                    <div class="">                                        
                                        <h1 class="m-xs font-bold">Peer</h1>
                                        <p>peer1.users.<%= receiverName %>.com</p>                               
                                        <p>peer1.users.<%= receiverName %>.com</p>                               
                                        <p>peer1.users.<%= receiverName %>.com</p>                               
                                        <p>peer1.users.<%= receiverName %>.com</p>                               
                                        <p>peer1.users.<%= receiverName %>.com</p>                               
                                        <p>peer1.users.<%= receiverName %>.com</p>                               
                                    </div>
                                </div>
                            </div>
                            
                        </div> -->
                        <!-- <div class="row mt-4">
                            <div class="col-lg-8 ">
                                
                                <div class="table-tab ">
                                    <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pro-tab" data-toggle="pill" href="#block1" role="tab" aria-controls="pills-home" aria-selected="true">
                                                Block/Hour
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="sub-tab" data-toggle="pill" href="#block2" role="tab" aria-controls="pills-home" aria-selected="true">
                                                Block/Min
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="team-tab" data-toggle="pill" href="#block3" role="tab" aria-controls="pills-home" aria-selected="true">
                                               Tx/Hour
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="trans-tab" data-toggle="pill" href="#block4" role="tab" aria-controls="pills-home" aria-selected="true">
                                                Tx/Min
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="trans-tab" data-toggle="pill" href="#block5" role="tab" aria-controls="pills-home" aria-selected="true">
                                                Tx/Sec
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content report-content" id="pills-tabContent">
        								<div class="tab-pane fade show active" id="block1" role="tabpanel" aria-labelledby="del-tab">
                                            <div id="blockhour-chart" style="width: 100%; height: 300px; background-color: #FFFFFF;" ></div>

                                        </div>
                                        <div class="tab-pane" id="block2" role="tabpanel" aria-labelledby="del-tab">
                                            Block/Min chart
                                        </div>
                                        <div class="tab-pane" id="block3" role="tabpanel" aria-labelledby="del-tab">
                                            Tx/Hour chart
                                        </div>
                                        <div class="tab-pane" id="block4" role="tabpanel" aria-labelledby="del-tab">
                                            Tx/min chart
                                        </div>
                                        <div class="tab-pane" id="block5" role="tabpanel" aria-labelledby="del-tab">
                                            Tx/Sec chart
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4  mt-md-3 mt-lg-0">
                                <div class="text-center">
                                    <h3>
                                        Transactions by organizations
                                    </h3>
                                </div>
                                
                                <div id="trans-pie" class="pie-chart" style="width: 100%; height: 300px; background-color: #FFFFFF;" ></div>

                            </div>
                        </div> -->
                        <iframe src="http://3.19.18.29:8080/" title="Hyperledger Explorer" allowfullscreen></iframe>
                   
                    </div>
                </div>                
            </div>
            <!-- wrapper end -->
            <%- include('../partials/footer.ejs') %>
       
            <!-- footer end -->
        </div>
        <!-- #page-wrapper end -->
    </div>
    <!-- #main wrapper end -->
    <!-- Mainly scripts -->
    <div class="modal fade" id="transactionDetails" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered transactionDetails" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3 class="title">Block Details</h3>
                        <form id="">
                            <div class="form-group row justify-content-center otp-wrap">
                                <div class="col-sm-6">
                                    <label class="from-control">Channel Name</label>
                                </div>
                                <div class="col-sm-6">
                                    <label> 1 </label>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center otp-wrap">
                                <div class="col-sm-6">
                                    <label class="from-control">Block Number</label>
                                </div>
                                <div class="col-sm-6">
                                    <label> 1 </label>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center otp-wrap">
                                <div class="col-sm-6">
                                    <label class="from-control">Created At</label>
                                </div>
                                <div class="col-sm-6">
                                    <label> 1 </label>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center otp-wrap">
                                <div class="col-sm-6">
                                    <label class="from-control">Number of Transaction</label>
                                </div>
                                <div class="col-sm-6">
                                    <label> 1 </label>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center otp-wrap">
                                <div class="col-sm-6">
                                    <label class="from-control">Block Hask</label>
                                </div>
                                <div class="col-sm-6">
                                    <label> 1 </label>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center otp-wrap">
                                <div class="col-sm-6">
                                    <label class="from-control">Data Hash</label>
                                </div>
                                <div class="col-sm-6">
                                    <label> 1 </label>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center otp-wrap">
                                <div class="col-sm-6">
                                    <label class="from-control">Prehash</label>
                                </div>
                                <div class="col-sm-6">
                                    <label> 1 </label>
                                </div>
                            </div>

                            <div class="row justify-content-center mt-4">
                                <div class="col-sm-3 col-6">
                                    <input class="btn btn-white btn-block" type="button" onclick="resetForm('')"
                                        aria-label="Close" value="Close" data-dismiss="modal">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <%- include('../partials/script.ejs') %>   
    <!-- amchart js -->
        <script src="/js/chart/amcharts.js"></script>
        <script src="/js/chart/pie.js"></script>
        <script src="/js/chart/piechart.js"></script>
        <script src="/js/chart/serial.js"></script>
        <script src="/js/chart/serial-chart.js"></script>


</body>
</html>
