<!DOCTYPE html>
<html>

<head>

     
    <%- include('../partials/style.ejs') %>
</head>

<body>
    <div id="wrapper">
        <%- include('../partials/menu.ejs') %>
        <!-- side bar end -->
        <div id="page-wrapper" class="gray-bg">
            <!-- top nav start -->
                <%- include('../partials/header.ejs') %>
     
            <!-- top nav end -->
            <div class="wrapper wrapper-content profile-page">
                <div class="ibox">
                    <div class="ibox-title">
                        <a href="#" onclick="returnToProvider()" class="back-arw"><i class="fa fa-arrow-circle-left"
                                aria-hidden="true"></i></a>
                        <h5>General agreement</h5>
                    </div>
                    <div class="ibox-content ">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div id="content" className="container my-5">
                                    <div className="row">
                                      <div className="offset-lg-2 col-lg-8 col-md-12 d-flex align-items-center justify-content-center flex-column f-m">
                                        <h1 className="text-center txt-blk mb-5 f-b">
                                          Welcome to DocTrace
                                        </h1>
                                      </div>
                                      
                                      <div className="WordSection1">
                          
                          <p className="MsoNormal" ><b><span >DocTrace
                          Terms of Service</span></b></p>
                          
                          <!-- <p className="MsoNormal" ><span >Last Updated on
                          [<span >DATE</span>]</span></p> -->
                          
                          <p className="MsoNormal" ><span >This 
                          (this &quot;<b>Agreement</b>&quot;), effective as indicated in the “Last
                          Updated Date” above or on the date of a DocTrace’s email to you notifying you
                          of such change(the &quot;<b>Effective Date</b>&quot;), is by and between
                          DocTrace, LLC, a Texas limited liability company with offices located at 100
                          Congress Ave., Ste. 2000, Austin, TX 78701 (&quot;<b>Provider</b>&quot;) and
                          you.  You may be considered a visitor to the DocTrace site, or an individual
                          and/or entity that creates an account or purchases/uses the DocTrace site
                          (collectively “<b>Customer</b>”). Provider and Customer may be referred to
                          herein collectively as the &quot;<b>Parties</b>&quot; or individually as a
                          &quot;<b>Party</b>.&quot; </span></p>
                          
                          <p className="MsoNormal" ><span >&nbsp;</span></p>
                          
                          <p className="MsoNormal" ><span >By
                          using our Services, you’re agreeing to be bound by this Agreement.</span></p>
                          
                          <p className="MsoNormal" ><span >&nbsp;</span></p>
                          
                          <p className="MsoNormal" ><b><span
                          >Overview of DocTrace Services</span></b></p>
                          
                          <!-- {/* <p className="MsoNormal" ><span >DocTrace
                          provides a suite of products and services that allow its Customers to securely
                          and reliabily issue, create, edit, and share documents. Certain DocTrace
                          products have specific features, pricing, and terms (“<b>Service Specifics</b>”)
                          which are currently available [].<br>
                          <br>
                          </span></p> */} -->
                          
                          <p className="MsoNormal" ><a
                          name="bookmark=id.30j0zll"></a><span >1.<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span></span><u><span >Definitions</span></u><span
                          >.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.1fob9te"></a>(a)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><span >&quot;<b>Aggregated
                          Statistics</b>&quot; means data and information related to Customer's use of
                          the Services that is used by Provider in an aggregate and anonymized manner,
                          including to compile statistical and performance information related to the
                          provision and operation of the Services.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.3znysh7"></a>(b)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><span >&quot;<b>Authorized
                          User</b>&quot; means Customer's employees, consultants, contractors, and agents
                          who are authorized by Customer to access and use the Services under the rights
                          granted to Customer pursuant to this Agreement.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.2et92p0"></a><span
                          >(c)<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span></span><span >&quot;<b>Customer
                          Data</b>&quot; means, other than Aggregated Statistics, information, data, and
                          other content, in any form or medium, that is submitted, posted, or otherwise
                          transmitted by or on behalf of Customer or an Authorized User through the
                          Services. For the avoidance of doubt, Customer Data includes (i) all Logs
                          provided by Provider and (ii) all Logs accessible to an End User. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.tyjcwt"></a><span
                          >(d)<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span></span><span >&quot;<b>Documentation</b>&quot;
                          means Provider's user manuals, handbooks, and guides relating to the Services
                          provided by Provider to Customer either electronically or in hard copy form
                          relating to the Services.</span></p>
                          
                          <p className="MsoNormal" >(e)<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><span >&quot;<b>End User</b>&quot;
                          means all persons who have been granted access to Logs, including (i) such
                          persons that Customer directly grants access to such Logs and (ii) any person
                          who is indirectly granted access.  For the avoidance of doubt, an End User
                          includes a person who is granted access to a Log by another person, who was
                          previously granted access to such Log.</span></p>
                          
                          <p className="MsoNormal" ><span >(f)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span></span><span >&quot;<b>Logs</b>&quot;
                          means the information, records, data, and other content described in the <a href="https://doctrace.com/login/legal/terms-of-use"> https://doctrace.com/login/legal/terms-of-use</a>.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.3dy6vkm"></a><span
                          >(g)<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span></span><span >&quot;<b>Provider
                          IP</b>&quot; means the Services, the Documentation, and any and all
                          intellectual property provided to Customer or any Authorized User in connection
                          with the foregoing. For the avoidance of doubt, Provider IP includes Aggregated
                          Statistics and any information, data, or other content derived from Provider's
                          monitoring of Customer's access to or use of the Services, but does not include
                          Customer Data.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.1t3h5sf"></a>(h)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><span >&quot;<b>Services</b>&quot;
                          means the software-as-a-service offering more fully described in the <a href="https://doctrace.com/login/legal/terms-of-use"> https://doctrace.com/login/legal/terms-of-use</a>.
                          </span></p>
                          
                          <p className="MsoNormal" ><a
                          name="bookmark=id.4d34og8"></a>2.<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Access and Use</span></u><span
                          >. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.2s8eyo1"></a>(a)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Provision of Access</span></u><span
                          >. Subject to and conditioned on
                          Customer's payment of fees and compliance with all other terms and conditions
                          of this Agreement, Provider hereby grants Customer a non-exclusive,
                          non-transferable (except in compliance with </span><a
                          href="#bookmark=id.4k668n3"><span >Section 12(g)</span></a><span >)
                          right to access and use the Services during the Term, for use by Authorized
                          Users and End Users in accordance with the terms and conditions herein and all
                          other agreements executed by such End Users.  Provider shall provide to
                          Customer, Authorized Users, and End Users the necessary passwords and network
                          links or connections to allow access to the Services. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.17dp8vu"></a>(b)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Documentation
                          License</span></u><span >. Subject
                          to the terms and conditions contained in this Agreement, Provider hereby grants
                          to Customer a non-exclusive, non-sublicensable, non-transferable (except in
                          compliance with </span><a href="#bookmark=id.4k668n3"><span >Section 12(g)</span></a><span
                          >) license to use the Documentation
                          during the Term solely for Customer's internal business purposes in connection
                          with its use of the Services.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.3rdcrjn"></a>(c)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Use Restrictions</span></u><span
                          >. Customer shall not use the
                          Services for any purposes beyond the scope of the access granted in this
                          Agreement. Customer shall not at any time, directly or indirectly, and shall not
                          permit any Authorized Users to: (i) copy, modify, or create derivative works of
                          the Services or Documentation, in whole or in part; (ii) rent, lease, lend,
                          sell, license, sublicense, assign, distribute, publish, transfer, or otherwise
                          make available the Services or Documentation; (iii) reverse engineer,
                          disassemble, decompile, decode, adapt, or otherwise attempt to derive or gain
                          access to any software component of the Services, in whole or in part; (iv)
                          remove any proprietary notices from the Services or Documentation; or (v) use
                          the Services or Documentation in any manner or for any purpose that infringes,
                          misappropriates, or otherwise violates any intellectual property right or other
                          right of any person, or that violates any applicable law.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.26in1rg"></a>(d)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Reservation of
                          Rights</span></u><span >. Provider
                          reserves all rights not expressly granted to Customer in this Agreement. Except
                          for the limited rights and licenses expressly granted under this Agreement,
                          nothing in this Agreement grants, by implication, waiver, estoppel, or otherwise,
                          to Customer or any third party any intellectual property rights or other right,
                          title, or interest in or to the Provider IP.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.lnxbz9"></a>(e)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Suspension</span></u><span
                          >. Notwithstanding anything to the
                          contrary in this Agreement, Provider may temporarily suspend Customer's, any
                          Authorized User's, or End User’s access to any portion or all of the Services
                          if: (i) Provider reasonably determines that (A) there is a threat or attack on
                          any of the Provider IP; (B) Customer's, any Authorized User's, or End User’s
                          use of the Provider IP disrupts or poses a security risk to the Provider IP or
                          to any other customer or vendor of Provider; (C) Customer, any Authorized User,
                          or End User, is using the Provider IP for fraudulent or illegal activities; (D)
                          subject to applicable law, Customer has ceased to continue its business in the
                          ordinary course, made an assignment for the benefit of creditors or similar
                          disposition of its assets, or become the subject of any bankruptcy,
                          reorganization, liquidation, dissolution, or similar proceeding; or (E) Provider's
                          provision of the Services to Customer, any Authorized User, or End User is
                          prohibited by applicable law; (ii) any vendor of Provider has suspended or
                          terminated Provider's access to or use of any third-party services or products
                          required to enable Customer to access the Services; or (iii) in accordance with
                          </span><a href="#bookmark=id.2xcytpi"><span >Section 5(a)(iii)</span></a><span > (any such suspension described in subclause (i),
                          (ii), or (iii), a “<b>Service Suspension</b>”). Provider shall use commercially
                          reasonable efforts to provide written notice of any Service Suspension to
                          Customer and to provide updates regarding resumption of access to the Services
                          following any Service Suspension. Provider shall use commercially reasonable
                          efforts to resume providing access to the Services as soon as reasonably
                          possible after the event giving rise to the Service Suspension is cured.
                          Provider will have no liability for any damage, liabilities, losses (including
                          any loss of data or profits), or any other consequences that Customer or any
                          Authorized User may incur as a result of a Service Suspension. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.35nkun2"></a>(f)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><span > <u>Aggregated
                          Statistics</u>. Notwithstanding anything to the contrary in this Agreement,
                          Provider may monitor Customer's and End User’s use of the Services and collect
                          and compile Aggregated Statistics. As between Provider and Customer, all right,
                          title, and interest in Aggregated Statistics, and all intellectual property
                          rights therein, belong to and are retained solely by Provider. Customer acknowledges
                          that Provider may compile Aggregated Statistics based on Customer Data input
                          into the Services. Customer agrees that Provider may (i) make Aggregated
                          Statistics publicly available in compliance with applicable law, and (ii) use
                          Aggregated Statistics to the extent and in the manner permitted under
                          applicable law. </span></p>
                          
                          <p className="MsoNormal" ><a
                          name="bookmark=id.1ksv4uv"></a>3.<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Customer
                          Responsibilities</span></u><span >.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.44sinio"></a>(a)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >General</span></u><span
                          >. Customer is responsible and
                          liable for all uses of the Services and Documentation resulting from access
                          provided by Customer, directly or indirectly, whether such access or use is
                          permitted by or in violation of this Agreement. Without limiting the generality
                          of the foregoing, Customer is responsible for all acts and omissions of
                          Authorized Users, and any act or omission by an Authorized User or End User
                          that would constitute a breach of this Agreement if taken by Customer and will
                          be deemed a breach of this Agreement by Customer. Customer shall use reasonable
                          efforts to make all Authorized Users and End Users aware of this Agreement's
                          provisions as applicable to such Authorized User's or End User’s use of the
                          Services, and shall cause Authorized Users to comply with such provisions.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.2jxsxqh"></a>(b)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Data Privacy &amp;
                          Protection</span></u><span >.
                          Customer is solely responsible and solely liable for the content and use of all
                          Customer Data, including the content of the Logs issued by the Customer. 
                          Customer agrees that: (a) Customer has established or ensured that it has
                          established a legal basis for Provider’s use of Customer Data, including the
                          contents of Logs, contemplated by this Agreement; and (b) to the extent
                          required by law, given the context of the use of Customer Data, including the contents
                          of Logs, all notices have been given to, and consents and rights have been
                          obtained from, the relevant data subjects and any other party as may be
                          required under applicable law.</span></p>
                          
                          <p className="MsoNormal" ><a
                          name="bookmark=id.z337ya"></a>4.<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Service Level and
                          Support</span></u><span >.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.3j2qqm3"></a>(a)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Service Levels</span></u><span
                          >. Subject to the terms and conditions
                          of this Agreement, Provider shall use commercially reasonable efforts to make
                          the Services available. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.1y810tw"></a>(b)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Support</span></u><span
                          >. The access rights granted
                          hereunder entitle Customer to the support services described from time to time
                          on Provider's website. </span></p>
                          
                          <p className="MsoNormal" ><a
                          name="bookmark=id.4i7ojhp"></a>5.<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Fees
                          and Payment</span></u><span >. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.2xcytpi"></a>(a)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Fees</span></u><span
                          >. Customer shall pay Provider the
                          fees (&quot;<b>Fees</b>&quot;) at the then-current pricing set forth in the <a href="https://doctrace.com/login/legal/terms-of-use"> https://doctrace.com/login/legal/terms-of-use</a>
                          without offset or deduction. Fees are subject to change without notice to you.
                          Customer shall make all payments hereunder in US dollars as set forth in the 
                          <a href="https://doctrace.com/login/legal/terms-of-use"> https://doctrace.com/login/legal/terms-of-use</a>. If Customer fails to make any
                          payment when due, without limiting Provider's other rights and remedies: (i)
                          Provider may charge interest on the past due amount at the rate of 1.5% per
                          month calculated daily and compounded monthly or, if lower, the highest rate
                          permitted under applicable law; (ii) Customer shall reimburse Provider for all
                          costs incurred by Provider in collecting any late payments or interest,
                          including attorneys' fees, court costs, and collection agency fees; and (iii)
                          if such failure continues for 30 days or more, Provider may suspend Customer's
                          and its Authorized Users' access to any portion or all of the Services until
                          such amounts are paid in full.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.1ci93xb"></a>(b)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Taxes</span></u><span
                          >. All Fees and other amounts
                          payable by Customer under this Agreement are exclusive of taxes and similar
                          assessments. Customer is responsible for all sales, use, and excise taxes, and
                          any other similar taxes, duties, and charges of any kind imposed by any
                          federal, state, or local governmental or regulatory authority on any amounts
                          payable by Customer hereunder, other than any taxes imposed on Provider's
                          income.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.3whwml4"></a>(c)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Auditing Rights and
                          Required Records</span></u><span >.
                          Customer agrees to maintain complete and accurate records in accordance with
                          generally accepted accounting principles during the Term and for a period of
                          two years after the termination or expiration of this Agreement with respect to
                          matters necessary for accurately determining amounts due hereunder. Provider
                          may, at its own expense, on reasonable prior notice, periodically inspect and
                          audit Customer's records with respect to matters covered by this Agreement,
                          provided that if such inspection and audit reveals that Customer has underpaid
                          Provider with respect to any amounts due and payable during the Term, Customer
                          shall promptly pay the amounts necessary to rectify such underpayment, together
                          with interest in accordance with </span><a href="#bookmark=id.2xcytpi"><span
                          >Section 5(a)</span></a><span
                          >. Customer shall pay for the costs
                          of the audit if the audit determines that Customer's underpayment equals or
                          exceeds 20% for any quarter. Such inspection and auditing rights will extend
                          throughout the Term of this Agreement and for a period of two years after the
                          termination or expiration of this Agreement.</span></p>
                          
                          <p className="MsoNormal" ><a
                          name="bookmark=id.2bn6wsx"></a>6.<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Confidential
                          Information</span></u><span >. From
                          time to time during the Term, either Party may disclose or make available to
                          the other Party information about its business affairs, products, confidential
                          intellectual property, trade secrets, third-party confidential information, and
                          other sensitive or proprietary information, whether orally or in written,
                          electronic, or other form or media/in written or electronic form or media,
                          whether or not marked, designated, or otherwise identified as
                          &quot;confidential&quot; (collectively, &quot;<b>Confidential Information</b>&quot;).
                          Confidential Information does not include information that, at the time of
                          disclosure is: (a) in the public domain; (b) known to the receiving Party at
                          the time of disclosure; (c) rightfully obtained by the receiving Party on a
                          non-confidential basis from a third party; or (d) independently developed by
                          the receiving Party. The receiving Party shall not disclose the disclosing
                          Party's Confidential Information to any person or entity, except to the
                          receiving Party's employees who have a need to know the Confidential
                          Information for the receiving Party to exercise its rights or perform its
                          obligations hereunder. Notwithstanding the foregoing, each Party may disclose
                          Confidential Information to the limited extent required (i) in order to comply
                          with the order of a court or other governmental body, or as otherwise necessary
                          to comply with applicable law, provided that the Party making the disclosure
                          pursuant to the order shall first have given written notice to the other Party
                          and made a reasonable effort to obtain a protective order; or (ii) to establish
                          a Party's rights under this Agreement, including to make required court
                          filings. On the expiration or termination of the Agreement, the receiving Party
                          shall promptly return to the disclosing Party all copies, whether in written,
                          electronic, or other form or media, of the disclosing Party's Confidential Information,
                          or destroy all such copies and certify in writing to the disclosing Party that
                          such Confidential Information has been destroyed. Each Party's obligations of
                          non-disclosure with regard to Confidential Information are effective as of the
                          Effective Date and will expire five years from the date first disclosed to the
                          receiving Party; provided, however, with respect to any Confidential
                          Information that constitutes a trade secret (as determined under applicable
                          law), such obligations of non-disclosure will survive the termination or
                          expiration of this Agreement for as long as such Confidential Information
                          remains subject to trade secret protection under applicable law.</span></p>
                          
                          <p className="MsoNormal" ><a
                          name="bookmark=id.qsh70q"></a>7.<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Intellectual
                          Property Ownership; Feedback</span></u><span >.
                          </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.3as4poj"></a>(a)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Provider IP</span></u><span
                          >. Customer acknowledges that, as
                          between Customer and Provider, Provider owns all right, title, and interest,
                          including all intellectual property rights, in and to the Provider IP. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.1pxezwc"></a>(b)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Customer Data</span></u><span
                          >. Provider acknowledges that, as
                          between Provider and Customer, Customer owns all right, title, and interest,
                          including all intellectual property rights, in and to the Customer Data.
                          Customer hereby grants to Provider a non-exclusive, royalty-free, worldwide
                          license to reproduce, distribute, and otherwise use and display the Customer
                          Data and perform all acts with respect to the Customer Data as may be necessary
                          for Provider to provide the Services to Customer and End Users, and a
                          non-exclusive, perpetual, irrevocable, royalty-free, worldwide license to
                          reproduce, distribute, modify, and otherwise use and display Customer Data
                          incorporated within the Aggregated Statistics.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.49x2ik5"></a>(c)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Feedback</span></u><span
                          >. If Customer or any of its
                          employees or contractors sends or transmits any communications or materials to
                          Provider by mail, email, telephone, or otherwise, suggesting or recommending
                          changes to the Provider IP, including without limitation, new features or
                          functionality relating thereto, or any comments, questions, suggestions, or the
                          like (&quot;<b>Feedback</b>&quot;), Provider is free to use such Feedback
                          irrespective of any other obligation or limitation between the Parties
                          governing such Feedback. Customer hereby assigns to Provider on Customer's
                          behalf, and on behalf of its employees, contractors and/or agents, all right,
                          title, and interest in, and Provider is free to use, without any attribution or
                          compensation to any party, any ideas, know-how, concepts, techniques, or other
                          intellectual property rights contained in the Feedback, for any purpose
                          whatsoever, although Provider is not required to use any Feedback.</span></p>
                          
                          <p className="MsoNormal" ><a
                          name="bookmark=id.2p2csry"></a>8.<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Warranty Disclaimer</span></u><span
                          >. <a name="bookmark=id.147n2zr"></a>THE
                          PROVIDER IP IS PROVIDED &quot;AS IS&quot; AND PROVIDER HEREBY DISCLAIMS ALL
                          WARRANTIES, WHETHER EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE. PROVIDER
                          SPECIFICALLY DISCLAIMS ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
                          PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT, AND ALL WARRANTIES ARISING
                          FROM COURSE OF DEALING, USAGE, OR TRADE PRACTICE. PROVIDER MAKES NO WARRANTY OF
                          ANY KIND THAT THE PROVIDER IP, OR ANY PRODUCTS OR RESULTS OF THE USE THEREOF,
                          WILL MEET CUSTOMER'S OR ANY OTHER PERSON'S REQUIREMENTS, OPERATE WITHOUT
                          INTERRUPTION, ACHIEVE ANY INTENDED RESULT, BE COMPATIBLE OR WORK WITH ANY
                          SOFTWARE, SYSTEM, OR OTHER SERVICES, OR BE SECURE, ACCURATE, COMPLETE, FREE OF
                          HARMFUL CODE, OR ERROR FREE. </span></p>
                          
                          <p className="MsoNormal" ><a
                          name="bookmark=id.3o7alnk"></a>9.<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Indemnification</span></u><span
                          >. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.23ckvvd"></a>(a)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Provider
                          Indemnification</span></u><span >. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.ihv636"></a>(i)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><span >Provider shall
                          indemnify, defend, and hold harmless Customer from and against any and all
                          losses, damages, liabilities, costs (including reasonable out-of-pocket
                          attorneys' fees) (&quot;<b>Losses</b>&quot;) incurred by Customer resulting
                          from any third-party claim, suit, action, or proceeding (&quot;<b>Third-Party
                          Claim</b>&quot;) that the Services, or any use of the Services in accordance
                          with this Agreement, infringes or misappropriates such third party's US
                          patents, US copyrights, or trade secrets, provided that Customer promptly
                          notifies Provider in writing of the claim, cooperates with Provider, and allows
                          Provider sole authority to control the defense and settlement of such claim. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.32hioqz"></a>(ii)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><span >If such a claim is
                          made or appears possible, Customer agrees to permit Provider, at Provider's
                          sole discretion, to (A) modify or replace the Services, or component or part
                          thereof, to make it non-infringing, or (B) obtain the right for Customer to
                          continue use. If Provider determines that neither alternative is reasonably
                          available, Provider may terminate this Agreement, in its entirety or with
                          respect to the affected component or part, effective immediately on written
                          notice to Customer. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.1hmsyys"></a>(iii)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><span >This </span><a
                          href="#bookmark=id.23ckvvd"><span >Section 9(a)</span></a><span >
                          will not apply to the extent that the alleged infringement arises from: (A) use
                          of the Services in combination with data, software, hardware, equipment, or
                          technology not provided by Provider; (B) modifications to the Services not made
                          by Provider; or (C) Customer Data. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.41mghml"></a>(b)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Customer
                          Indemnification</span></u><span >.
                          Customer shall indemnify, hold harmless, and, at Provider's option, defend
                          Provider from and against any Losses resulting from any Third-Party Claim that
                          (i) the Customer Data, or any use or transmission of Customer Data (A)
                          infringes or misappropriates such third party's intellectual property rights or
                          (B) violates any law or regulation, including those in connection with data
                          privacy and protection or (ii) is based upon Customer's or any Authorized
                          User's (A) negligence or willful misconduct; (B) use of the Services in a manner
                          not authorized by this Agreement; (C) use of the Services in combination with
                          data, software, hardware, equipment, or technology not provided by Provider or
                          authorized by Provider in writing; or (D) modifications to the Services not
                          made by Provider, provided that Customer may not settle any Third-Party Claim
                          against Provider unless Provider consents to such settlement, and further
                          provided that Provider will have the right, at its option, to defend itself
                          against any such Third-Party Claim or to participate in the defense thereof by
                          counsel of its own choice. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.2grqrue"></a>(c)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Sole Remedy</span></u><span
                          >. THIS 9 SETS FORTH CUSTOMER'S SOLE
                          REMEDIES AND PROVIDER'S SOLE LIABILITY AND OBLIGATION FOR ANY ACTUAL,
                          THREATENED, OR ALLEGED CLAIMS THAT THE SERVICES INFRINGE, MISAPPROPRIATE, OR OTHERWISE
                          VIOLATE ANY INTELLECTUAL PROPERTY RIGHTS OF ANY THIRD PARTY. </span></p>
                          
                          <p className="MsoNormal" ><a
                          name="bookmark=id.vx1227"></a>10.<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Limitations
                          of Liability</span></u><span >. IN
                          NO EVENT WILL PROVIDER BE LIABLE UNDER OR IN CONNECTION WITH THIS AGREEMENT
                          UNDER ANY LEGAL OR EQUITABLE THEORY, INCLUDING BREACH OF CONTRACT, TORT
                          (INCLUDING NEGLIGENCE), STRICT LIABILITY, AND OTHERWISE, FOR ANY: (a)
                          CONSEQUENTIAL, INCIDENTAL, INDIRECT, EXEMPLARY, SPECIAL, ENHANCED, OR PUNITIVE
                          DAMAGES; (b) INCREASED COSTS, DIMINUTION IN VALUE OR LOST BUSINESS, PRODUCTION,
                          REVENUES, OR PROFITS; (c) LOSS OF GOODWILL OR REPUTATION; (d) USE, INABILITY TO
                          USE, LOSS, INTERRUPTION, DELAY, OR RECOVERY OF ANY DATA, INCLUDING CUSTOMER
                          DATA, OR BREACH OF DATA OR SYSTEM SECURITY; OR (e) COST OF REPLACEMENT GOODS OR
                          SERVICES, IN EACH CASE REGARDLESS OF WHETHER PROVIDER WAS ADVISED OF THE
                          POSSIBILITY OF SUCH LOSSES OR DAMAGES OR SUCH LOSSES OR DAMAGES WERE OTHERWISE
                          FORESEEABLE. IN NO EVENT WILL PROVIDER'S AGGREGATE LIABILITY ARISING OUT OF OR
                          RELATED TO THIS AGREEMENT UNDER ANY LEGAL OR EQUITABLE THEORY, INCLUDING BREACH
                          OF CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY, AND OTHERWISE
                          EXCEED TWO TIMES THE TOTAL AMOUNTS PAID TO PROVIDER UNDER THIS AGREEMENT IN THE
                          ONE YEAR PERIOD PRECEDING THE EVENT GIVING RISE TO THE CLAIM OR $25,000,
                          WHICHEVER IS LESS. </span></p>
                          
                          <p className="MsoNormal" ><a
                          name="bookmark=id.3fwokq0"></a>11.<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Term
                          and Termination</span></u><span >. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.1v1yuxt"></a>(a)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Term</span></u><span
                          >. The initial term of this
                          Agreement begins on the Effective Date and, unless terminated earlier pursuant
                          to this Agreement's express provisions, will continue in effect until one year
                          from such date (the &quot;<b>Initial</b> <b>Term</b>&quot;). This Agreement
                          will automatically renew for additional successive one year term[s] unless
                          earlier terminated pursuant to this Agreement's express provisions (each a
                          &quot;<b>Renewal Term</b>&quot; and together with the Initial Term, the &quot;<b>Term</b>&quot;).</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.4f1mdlm"></a>(b)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Termination</span></u><span
                          >. In addition to any other express
                          termination right set forth in this Agreement:</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.2u6wntf"></a>(i)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><span >Provider may terminate
                          this Agreement, effective on written notice to Customer, if Customer: (A) fails
                          to pay any amount when due hereunder; (B) breaches any of its obligations under
                          </span><a href="#bookmark=id.3rdcrjn"><span >Section 2(c)</span></a><span >
                          or 6; or (C) has failed to comply in any material respect with any of its
                          obligations hereunder as determined by Provider in its sole discretion; and<a
                          name="bookmark=id.3tbugp1"></a>either Party may terminate this Agreement,
                          effective immediately upon written notice to the other Party, if the other
                          Party: (A) becomes insolvent or is generally unable to pay, or fails to pay,
                          its debts as they become due; (B) files or has filed against it, a petition for
                          voluntary or involuntary bankruptcy or otherwise becomes subject, voluntarily
                          or involuntarily, to any proceeding under any domestic or foreign bankruptcy or
                          insolvency law; (C) makes or seeks to make a general assignment for the benefit
                          of its creditors; or (D) applies for or has appointed a receiver, trustee,
                          custodian, or similar agent appointed by order of any court of competent
                          jurisdiction to take charge of or sell any material portion of its property or
                          business.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.28h4qwu"></a>(c)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Effect of
                          Expiration or Termination</span></u><span >.
                          Upon expiration or earlier termination of this Agreement, Customer shall
                          immediately discontinue use of the Provider IP and, without limiting Customer's
                          obligations under 6, Customer shall delete, destroy, or return all copies of
                          the Provider IP and certify in writing to the Provider that the Provider IP has
                          been deleted or destroyed. No expiration or termination will affect Customer's
                          obligation to pay all Fees that may have become due before such expiration or
                          termination or entitle Customer to any refund.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.nmf14n"></a>(d)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Survival</span></u><span
                          >. This Section 11(d) and 1, 5, 6,
                          7, 8, 9, 10, and 12 survive any termination or expiration of this Agreement. No
                          other provisions of this Agreement survive the expiration or earlier
                          termination of this Agreement.</span></p>
                          
                          <p className="MsoNormal" ><a
                          name="bookmark=id.37m2jsg"></a>12.<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Miscellaneous</span></u><span
                          >. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.1mrcu09"></a><span
                          >(a)<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span></span><u><span >Entire
                          Agreement</span></u><span >. This
                          Agreement, together with any other documents incorporated herein by reference,
                          constitutes the sole and entire agreement of the Parties with respect to the
                          subject matter of this Agreement and supersedes all prior and contemporaneous
                          understandings, agreements, and representations and warranties, both written
                          and oral, with respect to such subject matter.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.46r0co2"></a>(b)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Notices</span></u><span
                          >. All notices, requests, consents,
                          claims, demands, waivers, and other communications hereunder (each, a &quot;<b>Notice</b>&quot;)
                          must be in writing and addressed to the Parties at the addresses set forth on
                          the first page of this Agreement (or to such other address that may be
                          designated by the Party giving Notice from time to time in accordance with this
                          Section). All Notices must be delivered by personal delivery, nationally
                          recognized overnight courier (with all fees pre-paid), facsimile or email (with
                          confirmation of transmission), or certified or registered mail (in each case,
                          return receipt requested, postage pre-paid). Except as otherwise provided in
                          this Agreement, a Notice is effective only: (i) upon receipt by the receiving
                          Party; and (ii) if the Party giving the Notice has complied with the
                          requirements of this Section.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.2lwamvv"></a>(c)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Force
                          Majeure</span></u><span >. In no
                          event shall either Party be liable to the other Party, or be deemed to have
                          breached this Agreement, for any failure or delay in performing its obligations
                          under this Agreement, if and to the extent such failure or delay is caused by
                          any circumstances beyond such Party's reasonable control, including but not
                          limited to acts of God, flood, fire, earthquake, explosion, war, terrorism,
                          invasion, riot or other civil unrest, strikes, labor stoppages or slowdowns or
                          other industrial disturbances, or passage of law or any action taken by a
                          governmental or public authority, including imposing an embargo.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.111kx3o"></a>(d)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Amendment and
                          Modification; Waiver</span></u><span >.
                          No amendment to or modification of this Agreement is effective unless it is in
                          writing and signed by an authorized representative of each Party. No waiver by
                          any Party of any of the provisions hereof will be effective unless explicitly
                          set forth in writing and signed by the Party so waiving. Except as otherwise
                          set forth in this Agreement, (i) no failure to exercise, or delay in
                          exercising, any rights, remedy, power, or privilege arising from this Agreement
                          will operate or be construed as a waiver thereof, and (ii) no single or partial
                          exercise of any right, remedy, power, or privilege hereunder will preclude any
                          other or further exercise thereof or the exercise of any other right, remedy,
                          power, or privilege.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.3l18frh"></a><span
                          >(e)<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span></span><u><span >Severability</span></u><span
                          >. If any provision of this
                          Agreement is invalid, illegal, or unenforceable in any jurisdiction, such
                          invalidity, illegality, or unenforceability will not affect any other term or
                          provision of this Agreement or invalidate or render unenforceable such term or
                          provision in any other jurisdiction. Upon such determination that any term or
                          other provision is invalid, illegal, or unenforceable, the Parties shall
                          negotiate in good faith to modify this Agreement so as to effect their original
                          intent as closely as possible in a mutually acceptable manner in order that the
                          transactions contemplated hereby be consummated as originally contemplated to
                          the greatest extent possible.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.206ipza"></a><span
                          >(f)<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span></span><u><span >Governing
                          Law; Submission to Jurisdiction</span></u><span >.
                          This Agreement is governed by and construed in accordance with the internal
                          laws of the State of Texas without giving effect to any choice or conflict of
                          law provision or rule that would require or permit the application of the laws
                          of any jurisdiction other than those of the State of Texas. Any legal suit,
                          action, or proceeding arising out of or related to this Agreement or the
                          licenses granted hereunder will be instituted exclusively in the federal courts
                          of the United States or the courts of the State of Texas in each case located
                          in the city of Austin, Texas and County of Travis, and each Party irrevocably
                          submits to the exclusive jurisdiction of such courts in any such suit, action,
                          or proceeding.</span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.4k668n3"></a>(g)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Assignment</span></u><span
                          >. Customer may not assign any of
                          its rights or delegate any of its obligations hereunder, in each case whether
                          voluntarily, involuntarily, by operation of law or otherwise, without the prior
                          written consent of Provider. Any purported assignment or delegation in
                          violation of this Section will be null and void. No assignment or delegation
                          will relieve the assigning or delegating Party of any of its obligations
                          hereunder. This Agreement is binding upon and inures to the benefit of the
                          Parties and their respective permitted successors and assigns. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.2zbgiuw"></a>(h)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Export
                          Regulation</span></u><span >.
                          Customer shall comply with all applicable federal laws, regulations, and rules,
                          and complete all required undertakings (including obtaining any necessary
                          export license or other governmental approval), that prohibit or restrict the
                          export or re-export of the Services or any Customer Data outside the US. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.1egqt2p"></a>(i)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Equitable Relief</span></u><span
                          >. Each Party acknowledges and
                          agrees that a breach or threatened breach by such Party of any of its
                          obligations under 6 or, in the case of Customer, </span><a
                          href="#bookmark=id.3rdcrjn"><span >Section 2(c)</span></a><span >,
                          would cause the other Party irreparable harm for which monetary damages would
                          not be an adequate remedy and agrees that, in the event of such breach or
                          threatened breach, the other Party will be entitled to equitable relief,
                          including a restraining order, an injunction, specific performance, and any
                          other relief that may be available from any court, without any requirement to
                          post a bond or other security, or to prove actual damages or that monetary
                          damages are not an adequate remedy. Such remedies are not exclusive and are in
                          addition to all other remedies that may be available at law, in equity, or
                          otherwise. </span></p>
                          
                          <p className="MsoNormal" ><a name="bookmark=id.3ygebqi"></a>(j)<span
                          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </span><u><span >Counterparts</span></u><span
                          >. This Agreement may be executed in
                          counterparts, each of which is deemed an original, but all of which together
                          are deemed to be one and the same agreement.</span></p>
                          
                            </div>

                        </div>
                        <!-- row end -->
                    </div>
                    <!-- ibox-content end -->
                </div>
                <!-- ibox end-->
            </div>
            <!-- wrapper end -->
            <%- include('../partials/footer.ejs') %>
            <!-- footer end -->
        </div>
        <!-- #page-wrapper end -->
    </div>
    <!-- #main wrapper end -->
    <!-- Mainly scripts -->
    <%- include('../partials/script.ejs') %> 
</body>
<script>
    function returnToProvider(){
       window.location = `/admin/provider_pending_approvals/${window.localStorage.getItem('lastProvider')}`;

    }
</script>
</html>