<!DOCTYPE html>
<html>

<head>

    <%- include('../partials/style.ejs') %>
</head>

<body>
    <div id="wrapper">
        <%- include('../partials/menu.ejs') %>
     
        <!-- side bar end -->
        <div id="page-wrapper" class="gray-bg">
           <!-- top nav start -->
           <%- include('../partials/header.ejs') %>
     
        <!-- top nav end -->
            <div class="wrapper wrapper-content profile-page">
                <div class="ibox">
                    <div class="ibox-title">
						<h5>Payment History</h5>
						<div class="ibox-tools">
							<!-- date-period start -->
							<div class="daterange-wrapper">						
								<div class="date-cst d-inline-block	">
									<input type="text" placeholder="DD/MM/YYYY" class="form-control " name="daterange" id="dateFilter" onchange="dateFilter(this.value)" readonly='true' />
								</div>								
							</div>                    
							<!-- date-period end --> 
						</div>
                    </div>
                    <div class="ibox-content payment-content">  
                        <!-- row start -->
                        <div class="row align-items-center mb-4">
                            <div class="col-md-4 col-lg-4">
                                <div class="widget white-bg  text-center ">
                                    <div class="">                                                                    
                                        <h1 class="m-xs font-bold">$4700</h1>
                                        <h5 class=" no-margins">
                                            Total payment collected
                                        </h5>                                                                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="widget white-bg  text-center ">
                                    <div class="">                                                                   
                                        <h1 class="m-xs font-bold">13</h1>
                                        <h5 class=" no-margins">
                                            Total plans expired
                                        </h5>                                                                    
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-4 col-lg-4">
                                <div class="widget white-bg  text-center ">
                                    <div class="">                                                                   
                                        <h1 class="m-xs font-bold ">12</h1>
                                        <h5 class=" no-margins">
                                            Number of auto subscribe
                                        </h5>                                                                    
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                        <!-- row end -->
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" style="width:100%" id="paymentHistoryTable">
                                <thead>
                                    <tr>
                                        <th>Sr no</th>
                                        <th><%= providerName %> Name</th>
                                        <th>Subscribed plan</th>
                                        <th>payment method</th>
                                        <th>amount</th>
                                        <th>Invoice</th>
                                    </tr>
                                </thead>
                                <tbody>												
                                   
                                    										
                                </tbody>
                            </table>
                        </div>
					</div>
					<!-- ibox-content end -->
				</div>  
				<!-- ibox end-->
            </div>
            <!-- wrapper end -->
            <%- include('../partials/footer.ejs') %>
            <!-- footer end -->
        </div>
    </div>
  
    <%- include('../partials/script.ejs') %> 

    <script src="/js/custom/payment_history.js"></script>
    <script>
      
		</script>
</body>
</html>
