<!DOCTYPE html>
<html>

<head>

    <%- include('../partials/style.ejs') %>
</head>

<body>
    <div id="wrapper">
        <%- include('../partials/menu.ejs') %>
        <!-- side bar end -->
        <div id="page-wrapper" class="gray-bg">
            <!-- top nav start -->
            <%- include('../partials/header.ejs') %>
            <!-- top nav end -->
            <div class="wrapper wrapper-content profile-page">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Profile Details</h5>
                    </div>
                    <div class="ibox-content ">
                        <div class="row border-bottom pb-3 align-items-center">
                            <div class="col-md-6">
                                <div class="profile-image">
                                    <% if(userDetails.photo) { %> 

                                    <img alt="image" class="rounded-circle"
                                        src="<%= userDetails.photo %>"
                                        class="rounded-circle circle-border" alt="profile" />
                                    <%} else { %>
                                    <img alt="image" class="rounded-circle" src="https://doctrace-ms.s3.amazonaws.com/profile_small.jpg"
                                        class="rounded-circle circle-border" alt="profile" />
                                    <% } %>
                                </div>
                                <div class="profile-info">
                                    <div class="">
                                        <div>
                                            <input type="hidden" id="userId" value="<%= userDetails._id %>">
                                            <h2 class="no-margins">
                                                <%= userDetails.firstName %>
                                                <%= userDetails.lastName != undefined ? userDetails.lastName : '' %>
                                            </h2>
                                            <h4><%= userDetails.email %></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 text-right profile-btn">
                          

                                            <button class="btn btn-primary m-1" type="button" data-toggle="modal"
                                                data-target="#updateProfileModal">Edit profile</button>
                                       
                                            <button class="btn btn-primary m-1" type="button" data-toggle="modal"
                                                data-target="#passwordConfirmationModal">Edit phone
                                                number</button>
                            </div>
                        </div>
                        <!-- row end -->
                        <div class="row mt-2">
                            <div class="col-xl-6">
                                <div class="card-wrapper">
                                    <form>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-lg-3 col-xl-5 col-form-label">Name</label>
                                            <div class="col-sm-7 col-lg-9 col-xl-7">
                                                <p> <%= userDetails.firstName %>
                                                    <%= userDetails.lastName != undefined ? userDetails.lastName : '' %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-lg-3 col-xl-5 col-form-label">Address</label>
                                            <div class="col-sm-7 col-lg-9 col-xl-7">
                                                <p><%= userDetails.address %></p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-lg-3 col-xl-5 col-form-label">Phone
                                                Number</label>
                                            <div class="col-sm-7 col-lg-9 col-xl-7">
                                                <p><%= userDetails.mobileNumber %></p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-lg-3 col-xl-5 col-form-label">Email
                                                Address</label>
                                            <div class="col-sm-7 col-lg-9 col-xl-7">
                                                <p><%= userDetails.email %></p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-lg-3 col-xl-5 col-form-label">Company
                                                name</label>
                                            <div class="col-sm-7 col-lg-9 col-xl-7">
                                                <p>Doctrace</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- card-wrapper end -->
                            </div>
                            <div class="col-xl-6 ">
                                <div class="card-wrapper roles">
                                    <h5>Roles and Responsiblity</h5>
                                    <div class="row mb-3">
                                        <div class="col-2">
                                            Role
                                        </div>
                                        <div class="col-10">
                                            <% if( userDetails.role ) { %>
                                                <%= userDetails.role.roleName %>
                                                <% } else { %>
                                                    Super Admin
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="prof-check">

                                        <div class="list">
                                            Roles
                                        </div>
                                        <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test1"><input type="checkbox" id="test1" checked
                                                        disabled />Create</label>
                                                    <% } else { %> 
                                                <% if( userDetails.otherResponsibilities.role.create || userDetails.role.role.create) { %>
                                                <label for="test1"><input type="checkbox" id="test1" checked
                                                        disabled />Create</label>
                                                <% } else { %>
                                                <label for="test1"><input type="checkbox" id="test1"
                                                        disabled />Create</label>
                                                <% } } %>
                                            </p>
                                        </div>
                                        <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test2"><input type="checkbox" id="test2" checked
                                                        disabled />Update</label>
                                                    <% } else { %> 
                                                <% if(userDetails.otherResponsibilities.role.update || userDetails.role.role.update) { %>
                                                <label for="test2"><input type="checkbox" id="test2" checked
                                                        disabled />Update</label>
                                                <% } else { %>
                                                <label for="test2"><input type="checkbox" id="test2"
                                                        disabled />Update</label>
                                                <% } } %>
                                            </p>
                                        </div>
                                        <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test3"><input type="checkbox" id="test3" checked
                                                        disabled />Delete</label>
                                                    <% } else { %> 
                                                <% if( userDetails.otherResponsibilities.role.delete || userDetails.role.role.delete) { %>
                                                <label for="test3"><input type="checkbox" id="test3" checked
                                                        disabled />Delete</label>
                                                <% } else { %>
                                                <label for="test3"><input type="checkbox" id="test3"
                                                        disabled />Delete</label>
                                                <% } }%>
                                            </p>
                                        </div>
                                        <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test4"><input type="checkbox" id="test4" checked
                                                        disabled />view</label>
                                                    <% } else { %> 
                                                <% if( userDetails.otherResponsibilities.role.view || userDetails.role.role.view) { %>
                                                <label for="test4"><input type="checkbox" id="test4" checked
                                                        disabled />view</label>
                                                <% } else { %>
                                                <label for="test4"><input type="checkbox" id="test4"
                                                        disabled />view</label>
                                                <% } } %>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- prof-check end -->
                                    <div class="prof-check">
                                        <div class="list">
                                            Subscription
                                        </div>

                                          <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test7"><input type="checkbox" id="test7" checked
                                                        disabled />Create</label>
                                                    <% } else { %> 
                                                <% if( userDetails.otherResponsibilities.subscription.create || userDetails.role.subscription.create) { %>
                                                <label for="test7"><input type="checkbox" id="test7" checked
                                                        disabled />Create</label>
                                                <% } else { %>
                                                <label for="test7"><input type="checkbox" id="test7"
                                                        disabled />Create</label>
                                                <% } } %>

                                            </p>
                                        </div>

                                        <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test5"><input type="checkbox" id="test5" checked
                                                        disabled />view</label>
                                                    <% } else { %> 
                                                <% if( userDetails.otherResponsibilities.subscription.view || userDetails.role.subscription.view) { %>
                                                <label for="test5"><input type="checkbox" id="test5" checked
                                                        disabled />view</label>
                                                <% } else { %>
                                                <label for="test5"><input type="checkbox" id="test5"
                                                        disabled />view</label>
                                                <% } }%>

                                            </p>
                                        </div>
                                        <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test6"><input type="checkbox" id="test6" checked
                                                        disabled />Update</label>
                                                    <% } else { %> 
                                                <% if( userDetails.otherResponsibilities.subscription.update || userDetails.role.subscription.update) { %>
                                                <label for="test6"><input type="checkbox" id="test6" checked
                                                        disabled />Update</label>
                                                <% } else { %>
                                                <label for="test6"><input type="checkbox" id="test6"
                                                        disabled />Update</label>
                                                <% } } %>
                                            </p>
                                        </div>

                                      
                                    </div>
                                    <!-- prof-check end -->
                                    <div class="prof-check">
                                        <div class="list">
                                            Metadata
                                        </div>
                                        <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test8"><input type="checkbox" id="test8" checked
                                                        disabled />Create</label>
                                                    <% } else { %> 
                                                <% if( userDetails.otherResponsibilities.metadata.create || userDetails.role.metadata.create) { %>
                                                <label for="test8"><input type="checkbox" id="test8" checked
                                                        disabled />Create</label>
                                                <% } else { %>
                                                <label for="test8"><input type="checkbox" id="test8"
                                                        disabled />Create</label>
                                                <% } }%>

                                            </p>
                                        </div>
                                        <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test9"><input type="checkbox" id="test9" checked
                                                        disabled />Update</label>
                                                    <% } else { %> 
                                                <% if( userDetails.otherResponsibilities.metadata.update || userDetails.role.metadata.update) { %>
                                                <label for="test9"><input type="checkbox" id="test9" checked
                                                        disabled />Update</label>
                                                <% } else { %>
                                                <label for="test9"><input type="checkbox" id="test9"
                                                        disabled />Update</label>
                                                <% } }%>
                                            </p>
                                        </div>
                                        <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test10"><input type="checkbox" id="test10" checked
                                                        disabled />Delete</label>
                                                    <% } else { %> 
                                                <% if( userDetails.otherResponsibilities.metadata.delete || userDetails.role.metadata.delete) { %>
                                                <label for="test10"><input type="checkbox" id="test10" checked
                                                        disabled />Delete</label>
                                                <% } else { %>
                                                <label for="test10"><input type="checkbox" id="test10"
                                                        disabled />Delete</label>
                                                <% } }%>

                                            </p>
                                        </div>

                                        <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test11"><input type="checkbox" id="test11" checked
                                                        disabled />View</label>
                                                    <% } else { %> 
                                                <% if( userDetails.otherResponsibilities.metadata.view || userDetails.role.metadata.view) { %>
                                                <label for="test11"><input type="checkbox" id="test11" checked
                                                        disabled />View</label>
                                                <% } else { %>
                                                <label for="test11"><input type="checkbox" id="test11"
                                                        disabled />View</label>
                                                <% } } %>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- prof-check end -->
                                    <!-- prof-check end -->
                                    <div class="prof-check">
                                        <div class="list">
                                            Invoice
                                        </div>
                                        <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test12"><input type="checkbox" id="test12" checked
                                                        disabled />View</label>
                                                    <% } else { %> 
                                                <% if( userDetails.otherResponsibilities.invoice.view || userDetails.role.invoice.view) { %>
                                                <label for="test12"><input type="checkbox" id="test12" checked
                                                        disabled />View</label>
                                                <% } else { %>
                                                <label for="test12"><input type="checkbox" id="test12"
                                                        disabled />View</label>
                                                <% } } %>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- prof-check end -->
                                    <div class="prof-check">
                                        <div class="list">
                                            Reports
                                        </div>
                                        <div class="list">
                                            <p>
                                                <% if( userDetails.isSuperAdmin) { %>
                                                    <label for="test13"><input type="checkbox" id="test13" checked
                                                        disabled />View</label>
                                                    <% } else { %> 
                                                <% if( userDetails.otherResponsibilities.reports.view || userDetails.role.reports.view) { %>
                                                <label for="test13"><input type="checkbox" id="test13" checked
                                                        disabled />View</label>
                                                <% } else { %>
                                                <label for="test13"><input type="checkbox" id="test13"
                                                        disabled />View</label>
                                                <% }   }%>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- prof-check end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- wrapper end -->
            <%- include('../partials/footer.ejs') %>
            <!-- footer end -->
        </div>
        <!-- #page-wrapper end -->
    </div>

    <div class="modal fade" id="passwordConfirmationModal" tabindex="-1" data-backdrop="static" role="dialog"
        aria-labelledby="updatePhoneNumberModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered updatePhoneNumber" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="title">Enter your password to change mobile number</h3>
                    <form id="passwordConfirmationForm">
                        <div class="form-group row justify-content-center otp-wrap">
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="passwordConfirmation"
                                    placeholder="Enter Password" required="">
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <div class="col-sm-3 col-6">
                                <a class="btn btn-primary btn-block" onclick="checkForAutUser()" href="#">Next</a>
                            </div>
                            <div class="col-sm-3 col-6">
                                <input class="btn btn-white btn-block" type="button"
                                    onclick="resetForm('passwordConfirmationForm')" aria-label="Close" value="Cancel"
                                    data-dismiss="modal">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updatePhoneNumber" tabindex="-1" data-backdrop="static" role="dialog"
        aria-labelledby="updatePhoneNumberModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered updatePhoneNumber" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="title">Update Phone Number</h3>
                    <form id="updatePhone">
                        <div class="form-group row justify-content-center otp-wrap">
                            <div class="col-sm-8 form-inline country-code">
                                <select class="form-control country-dropdown" id="countryCode">
                                        
                                </select>
                                <input type="number" class="form-control country-text" id="phoneNumberUpdate"
                                    placeholder="Enter Phone Number" required="">
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <div class="col-sm-3 col-6">
                                <a class="btn btn-primary btn-block" onclick="updatePhoneNumber()" href="#">Update</a>
                            </div>
                            <div class="col-sm-3 col-6">
                                <input class="btn btn-white btn-block" type="button" onclick="resetForm('updatePhone')"
                                    aria-label="Close" value="Cancel" data-dismiss="modal">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateProfileModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered updateProfileModal" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="title">Update Details</h3>
                    <form id="updateUserForm">
                        <div class="form-group row justify-content-center otp-wrap">
                            <div class="col-sm-6">
                                <label class="col-form-label">Profile Picture</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="file" class="form-control" id="edit_profilePicture"
                                    name="edit_profilePicture">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center otp-wrap">
                            <div class="col-sm-6">
                                <label class="col-form-label">First Name</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                    placeholder="Enter First Name" value="<%= userDetails.firstName %>">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center otp-wrap">
                            <div class="col-sm-6">
                                <label class="col-form-label">Last Name</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                    placeholder="Enter Last Name" value="<%= userDetails.lastName %>">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center otp-wrap">
                            <div class="col-sm-6">
                                <label class="col-form-label">Address</label>
                            </div>
                            <div class="col-sm-6">
                                <textarea type="text" class="form-control" id="address" name="address"
                                    placeholder="Enter Address"><%= userDetails.address %></textarea>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <div class="col-sm-3 col-6">
                                <input class="btn btn-primary btn-block" type="button" aria-label="Update"
                                    value="Update" onclick="updateUser()">
                            </div>
                            <div class="col-sm-3 col-6">
                                <input class="btn btn-white btn-block" type="button"
                                    onclick="resetForm('updateUserForm')" aria-label="Close" value="clear">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #main wrapper end -->

    <%- include('../partials/commonModal.ejs') %>
    <%- include('../partials/script.ejs') %>

    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.709.0.min.js"></script>
    <script src="/js/plugins/amazon-cognito-identity.min.js"></script>
    <script src="/js/custom/profile.js"></script>

</body>

</html>