<nav class="navbar-default navbar-static-side nav-cst" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">  
            <div class="logo-web">
                <a href="/admin/"> 
                    <img src="/img/final-logo-1.png"></a>
                </div>                 
                <div class="logo-element">
                    <a href="/admin/">
                    <img src="/img/LogoIcon.png">
                    </a>
                </div>
              
            </li>
            <li class="header-space <%= (activeBar == 'dashboard') ? 'active' : '' %>">
                <a href="/admin/dashboard">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> 
                    <span class="nav-label">Dashboard</span>
                </a>
            </li>
            <li class="<%= (activeBar == 'provider_management') ? 'active' : '' %>">
                <a href="/admin/provider_management">
                    <i class="fa fa-hand-o-up " aria-hidden="true"></i> 
                    <span class="nav-label"><%= providerName %> Management</span>
                </a>
            </li>
            <li class="<%= (activeBar == 'receiver_management') ? 'active' : '' %>">
                <a href="/admin/receiver_management">
                    <i class="fa fa-hand-o-down" aria-hidden="true"></i> 
                    <span class="nav-label"><%= receiverName %> Management</span>
                </a>
            </li>
            <li class="<%= (activeBar == 'analytics_report') ? 'active' : '' %>">
                <a href="/admin/analytics_report">
                    <i class="fa fa-line-chart" aria-hidden="true"></i> 
                    <span class="nav-label">Analytics & Report</span>
                </a>
            </li>
            <li class="<%= (activeBar == 'payment_history') ? 'active' : '' %>">
                <a href="/admin/payment_history">
                    <i class="fa fa-credit-card" aria-hidden="true"></i> 
                    <span class="nav-label">Payment History</span>
                </a>
            </li>
            <li class="<%= (activeBar == 'blockchain_analytics') ? 'active' : '' %>">
                <!-- <a href="/admin/blockchain_analytics"> -->
                    <a href="https://blockexplorer.doctrace.com" target="_blank">
                        <!-- <a href="/admin/blockchain_analytics"> -->
                 
                        <i class="fa fa-area-chart" aria-hidden="true"></i> 
                    <span class="nav-label">Blockchain Analytics</span>
                </a>
            </li>
            <li class="<%= (activeBar == 'support_management') ? 'active' : '' %>">
                <a href="/admin/support_management">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i> 
                    <span class="nav-label">Support Management</span>
                </a>
            </li>
            <li >

                
                <a href="https://www.doctrace.com/" target="_blank">
                    <i class="fa fa-file" aria-hidden="true"></i> 
                    <span class="nav-label">Marketing CMS</span>
                </a>
            </li>
            <li class="<%= (activeBar == 'team_management') ? 'active' : '' %>">
                <a href="/admin/team_management">
                    <i class="fa fa-users" aria-hidden="true"></i> 
                    <span class="nav-label">Team Management</span>
                </a>
            </li>
            <li class="<%= (activeBar == 'subscription_management') ? 'active' : '' %>">
                <a href="/admin/subscription_management">
                    <i class="fa fa-ticket" aria-hidden="true"></i> 
                    <span class="nav-label">Subscription Management</span>
                </a>
            </li >
            <li>
                <a href="#!">
                    <i class="fa fa-usd" aria-hidden="true"></i> 
                    <span class="nav-label">Sales Management</span>
                </a>
            </li>
            <li class="<%= (activeBar == 'promocode_management') ? 'active' : '' %>">
                <a href="/admin/promocode_management">
                    <i class="fa fa-clone" aria-hidden="true"></i> 
                    <span class="nav-label">Promocode Management</span>
                </a>
            </li>
            <li class="<%= (activeBar == 'metadata_management') ? 'active' : '' %>" id="metadataMenu">
                <a href="/admin/metadata_management">
                    <i class="fa fa-file-text" aria-hidden="true"></i> 
                    <span class="nav-label">Metadata Management</span>
                </a>
            </li>
            <li class="<%= (activeBar == 'contact_us') ? 'active' : '' %>">
                <a href="/admin/contact_us">
                    <i class="fa fa-phone" aria-hidden="true"></i> 
                    <span class="nav-label">contact us</span>
                </a>
            </li>
            <li class="<%= (activeBar == 'faq') ? 'active' : '' %>">
                <a href="/admin/faq">
                    <i class="fa fa-phone" aria-hidden="true"></i> 
                    <span class="nav-label">FAQ</span>
                </a>
            </li>
            <!-- <li class="<%= (activeBar == 'notify') ? 'active' : '' %>">
                <a href="/admin/pre_notify">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <span class="nav-label">Notify</span>
                </a>
            </li> -->
        </ul>

    </div>
</nav>

<script>
    let userDetails = JSON.parse(localStorage.getItem('user'));
   if(!userDetails.isSuperAdmin)
   {
       if (!userDetails.role?.metadata?.view)
       {
           if (!userDetails.otherResponsibilities?.metadata?.view)
           {
                document.getElementById('metadataMenu').style.display = 'none';
           }
       }
   }
</script>